<!DOCTYPE>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<title>Allison & Jeuel</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/static/style.css'>
	<link rel="shortcut icon" type="image/png" href="/static/img/bow.ico"/>
	<link href='//fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'></head>
<body>

<div class='container-fluid'>

	<div class="row">
		<header class="header-box">
			<div id="logo">
				<h1 id="fname"><b>Allison & Jeuel</b></h1>
				<h3>June 2017</h3>
				<h3>San Francisco, CA</h3>
			
			</div>
		</header>
	</div>

	<div class="row">
		<div class="general-div " id="box1">
			<!-- <div id="box1-content">
				<div class="col-md-3 col-md-offset-1">
					<img id="portrait" src="static/img/round-profile-pic.png">
				</div>
				<span class="col-md-5 col-md-offset-1">
					<center><h3> About Allison</h3></center>
					<br>
					<center><h4>Allison lives in San Francisco where she is a software engineer specializing in Javascript and Python. She was a HackBright Academy Fellow and attends many tech meet-ups in SF. In her spare time she plays ukulele in her band The Not Marys. She studied Fashion Design at FIDM: Fashion Institute of Design and Merchandising and continues to follow her passion for creating through code.</h4></center>
				</span>
			</div> -->
		</div>
	</div>

	<div class="general-div" id="box2">
		<div id="box2-content">

		</div>

	</div>

	<div class="general-div" id="box3">
		<div id="box3-content">

		</div>
		
	</div>



	<div class="general-div" id="box3-5">
		<div id="box3-5-content">
			
		</div>
	</div>

<!-- 	<div class="general-div" id="box4">
		<div id="box4-content">
			<h1>DIV4</h1>
		</div>
	</div>

	<div class="general-div" id="box5">
		<div id="box5-content">
			<h1>DIV5</h1>
		</div>
	</div> -->

	<div id="box6">
		<div id="box6-content">
			<a href="http://blog.spoongraphics.co.uk/freebies/20-free-high-res-geometric-polygon-backgrounds" target="_blank">Spoon Graphics: Backgrounds</a>
			<a href="https://www.google.com/fonts" target="_blank">Google Fonts: Fonts</a>
			<a href="http://glyphicons.com/" target="_blank">Glyphicons: Social Media Icons</a>
		</div>

	</div>

</div>
<script src="/static/script.js"></script>
<!-- $(window).scroll(function(){

  var windowScroll = $(this).scrollTop();
  	console.log("WINDOW SCROLL: ",windowScroll);

  	// var h = $('#box2-content').offset().top;
  	// console.log(h)

 	// Nameplace - Header
    $('#logo').css({
      'transform' : 'translate(0px, '+ windowScroll /4 +'%)'
    });
    // Overlay - Header
    $('#geo-lace').css({
      'transform' : 'translate(0px, '+ windowScroll /4 +'%)'
    });


	// Content - Div 1
	if (windowScroll < 80) {
		$('#box1-content').css({ 'opacity' : ( windowScroll /200) });
	} else if (windowScroll > 650) {
		$('#box1-content').css({ 'opacity' : 1 - ((windowScroll - 550) / 200)});
	} else {
		$('#box1-content').css({ 'opacity' : 1});
	}

	// Content - Div 2
	if (windowScroll > 1050) {
		 $('#box2-content').css({ 'opacity' : 1 - ((windowScroll - 950) / 200)});
	} else if (windowScroll < 750) {
		$('#box2-content').css({ 'opacity' : ((windowScroll - 450) / 200)});
	} else {
		$('#box2-content').css({ 'opacity' : 1});
	}

	// Content - Div 3
	if (windowScroll > 1500) {
		 $('#box3-content').css({ 'opacity' : 1 - ((windowScroll - 1500) / 200)});
	} else if (windowScroll < 1400) {
		$('#box3-content').css({ 'opacity' : ((windowScroll - 1200) / 200)});
	} else {
		$('#box3-content').css({ 'opacity' : 1});
	}

	// Content - Div 3.5
	if (windowScroll > 2000) {
		 $('#box3-5-content').css({ 'opacity' : 1 - ((windowScroll - 2000) / 200)});
	} else if (windowScroll < 1900) {
		$('#box3-5-content').css({ 'opacity' : ((windowScroll - 1700) / 200)});
	} else {
		$('#box3-5-content').css({ 'opacity' : 1});
	}


	//1050
});
 -->

</body>
</html>